<html>
<body>
    @RenderBody()
    <div>
        <div style="float: left; width: 75%">
            <h1>hey</h1>
            <h2>hallo</h2>
        </div>
        <div style="float: left; width: 25%">
            <h1>daar</h1>
        </div>
    </div>
</body>
</html>

