@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Tellers</h1>
<h2>Transient: @ViewBag.CounterTransient</h2>
<h2>Scoped: @ViewBag.CounterScoped</h2>
<h2>Singleton: @ViewBag.CounterSingleton</h2>

<form asp-action="AddCounter">
    <input type = "submit" class="btn btn-primary" value="Tellen!" />
</form>
